.App {
  text-align: center;
}


.App-header {
  width: 700px;
  margin: 40px auto;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.code_wrapper {
  white-space: pre-wrap;
  border: 1px solid #f8f8f8;
  box-shadow: 1px 1px 1px 1px #333;
  background: #000;
  color: #fff;
  text-align: left;
}